@import "mixins/mixins";
@import "common/var";

@include b(alert) {
  width: 100%;
  padding: 11px 12px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity .2s;

  @include when(light) {
    .el-alert__closebtn {
      color: $--color-fill-4;
      &:hover {
        color: $--color-fill-6;
      }
    }
  }

  @include when(dark) {
    .el-alert__closebtn {
      color: #fff;
    }
    .el-alert__description {
      color: #fff;
    }
  }

  @include when(center) {
    justify-content: center;
  }

  @include m(success) {
    &.is-light {
      background-color: $--color-success-1;
      border: 1px solid $--color-success-2;
      color: $--color-text-6;
      .el-alert__icon {
        color: $--color-success-6;
      }
    }

    &.is-dark {
      background-color: $--color-success-6;
      color: #fff;
    }
  }

  @include m(info) {
    &.is-light {
      background-color: $--color-primary-1;
      border: 1px solid $--color-primary-2;
      color: $--color-text-6;
      .el-alert__icon {
        color: $--color-primary-6;
      }
    }

    &.is-dark {
      background-color: $--color-primary-6;
      color: #fff;
    }
  }

  @include m(warning) {
    &.is-light {
      background-color: $--color-warning-1;
      border: 1px solid $--color-warning-2;
      color: $--color-text-6;
      .el-alert__icon {
        color: $--color-warning-6;
      }
    }

    &.is-dark {
      background-color: $--color-warning-6;
      color: #fff;
    }
  }

  @include m(error) {
    &.is-light {
      background-color: $--color-danger-1;
      border: 1px solid $--color-danger-2;
      color: $--color-text-6;
      .el-alert__icon {
        color: $--color-danger-6;
      }
    }

    &.is-dark {
      background-color: $--color-danger-6;
      color: #fff;
    }
  }

  @include e(content) {
    display: table-cell;
  }

  @include e(icon) {
    margin-right: 8px;
    font-size: 16px;
    width: 16px;
    @include when(big) {
      font-size: 16px;
      width: 16px;
      align-self: flex-start;
    }
  }

  @include e(title) {
    font-size: 12px;
    line-height: 16px;
    display: block;
    @include when(bold) {
      font-weight: 500;
    }
  }

  & .el-alert__description {
    font-size: 12px;
    margin: 4px 0 0 0;
    color: $--color-text-6;
    font-weight: 400;
  }

  @include e(closebtn) {
    font-size: 14px;
    opacity: 1;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;

    @include when(customed) {
      font-style: normal;
      font-size: 12px;
      top: 11px;
    }
  }
}

.el-alert-fade-enter,
.el-alert-fade-leave-active {
  opacity: 0;
}
