@import "mixins/mixins";
@import "common/var";

@include b(avatar) {
  display: inline-flex;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  color: #fff;
  background: $--color-fill-3;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  @include m(img) {
    margin: 0 auto;
    display: block;
    height: 100%;
    &.load-fail {
      height: 50%;
      width: 50%;
    }
  }

  @include m(circle) {
    border-radius: 50%;
  }

  @include m(square) {
    border-radius: 4px;
  }

  @include m(icon) {
    font-size: 20px;
  }

  @include m(large) {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }

  @include m(medium) {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }

  @include m(small) {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
  }
  @include m(mini) {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
  }


  @include m(upload) {
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    position: relative;

    .el-avatar__inner {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &.is-upload-overlay {
      .el-avatar--upload-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0);
        transition: background-color 0.25s ease;
        border-radius: 50%;

        i {
          font-size: 16px;
          color: #fff;
          opacity: 0;
          transition: opacity 0.25s ease, transform 0.25s ease;
        }
      }

      &:hover .el-avatar--upload-mask {
        background: rgba(0, 0, 0, 0.5);
        i {
          opacity: 1;
        }
      }

      .el-avatar--large +.el-avatar--upload-mask i {
        font-size: 24px;
      }
      .el-avatar--medium +.el-avatar--upload-mask i {
        font-size: 16px;
      }
      .el-avatar--small +.el-avatar--upload-mask i {
        font-size: 12px;
      }
      .el-avatar--mini +.el-avatar--upload-mask i {
        font-size: 10px;
      }
    }

    &.is-upload-button {
      .el-avatar--upload-btn {
        position: absolute;
        bottom: 0;
        right: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        transition: all 0.25s ease;
        background: $--color-fill-1;
        z-index: 1;
        i {
          font-size: 12px;
          color: $--color-fill-6;
          line-height: 1;
        }
      }

      &:hover .el-avatar--upload-btn {
        background: $--color-primary-1;
        i {
          color: $--color-primary-6;
        }
      }
      .el-avatar--large {
        +.el-avatar--upload-btn {
          width: 24px;
          height: 24px;
          i {
            font-size: 14px;
          }
        }
      }

      .el-avatar--medium {
        +.el-avatar--upload-btn {
          width: 20px;
          height: 20px;
          i {
            font-size: 12px;
          }
        }
      }
      .el-avatar--small {
        +.el-avatar--upload-btn {
          width: 16px;
          height: 16px;
          i {
            font-size: 10px;
          }
        }
      }
      .el-avatar--mini {
        +.el-avatar--upload-btn {
          width: 14px;
          height: 14px;
          i {
            font-size: 8px;
          }
        }
      }
    }
  }
}

.el-avatar-group__popover {
  min-width: auto;
}

@include b(avatar-group) {
  display: inline-flex;
  align-items: center;

  .el-avatar {
    flex-shrink: 0;
    border: 1.4px solid #fff;
    box-sizing: border-box;
    transition: margin-left 0.25s ease-in-out;

    &:not(:first-child) {
      margin-left: var(--avatar-overlap, -10px);
    }
  }
  > span:not(:first-child) {
    margin-left: var(--avatar-overlap, -10px);
  }

  @include e(more) {
    cursor: default;
    background: $--color-fill-3;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }

  @include when(custom-overlap) {
    --avatar-overlap: 8px;
  }

  @include m(large) {
    --avatar-overlap: -12px;
    .el-avatar-group__more {
      font-size: 24px;
    }
  }

  @include m(medium) {
    --avatar-overlap: -10px;
    .el-avatar-group__more {
      font-size: 18px;
    }
  }

  @include m(small) {
    --avatar-overlap: -8px;
    .el-avatar-group__more {
      font-size: 14px;
    }
  }

  @include m(mini) {
    --avatar-overlap: -6px;
    border-width: 1.05px;
    .el-avatar-group__more {
      font-size: 10.5px;
    }
  }

  @include m(square) {
    .el-avatar {
      border-radius: 4px;
    }
  }
}

.el-avatar-group__popover {
  .el-avatar-group__popover-content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .el-avatar {
      margin-left: 0 !important;
    }
  }
}
