@import "mixins/mixins";
@import "common/var";
@import "./input";
@import "./popper";
@import "./tag";
@import "./cascader-panel";

@include b(cascader) {
  display: block;
  position: relative;
  font-size: $--input-font-size;
  line-height: $--input-height;

  &:not(.is-disabled):hover {
    .el-input__inner {
      cursor: pointer;
      border-color: $--input-hover-border;
    }
  }

  .el-input {
    cursor: pointer;

    .el-input__suffix {
      right: 8px;
    }
    .el-input__inner {
      text-overflow: ellipsis;

      &:focus {
        border-color: $--input-focus-border;
      }
    }

    .iov-icon-arrow-up {
      padding-right: 0;
      color: $--select-input-color;
      font-size: $--select-icon-size;
      transition: transform .3s;
      transform: rotateZ(180deg);

      @include when(reverse) {
        transform: rotateZ(0deg);
      }
    }

    .el-icon-circle-close:hover {
      color: $--input-clear-hover-color;
    }

    @include when(focus) {
      .el-input__inner {
        border-color: $--input-focus-border;
      }
    }
  }

  .el-tag {
    height: $--input-height - 8px;
    line-height: $--input-height - 8px;
  }

  @include m(medium) {
    font-size: $--input-medium-font-size;
    line-height: $--input-medium-height;
    .el-tag--medium {
      height: $--input-medium-height - 8px;
      line-height: $--input-medium-height - 8px;
    }
  }

  @include m(small) {
    font-size: $--input-small-font-size;
    line-height: $--input-small-height;
    .el-tag--small {
      height: $--input-small-height - 8px;
      line-height: $--input-small-height - 8px;
    }
  }

  @include m(mini) {
    font-size: $--input-mini-font-size;
    line-height: $--input-mini-height;
    .el-tag--mini {
      height: $--input-mini-height - 8px;
      line-height: $--input-mini-height - 8px;
    }
  }

  @include when(disabled) {
    .el-cascader__label {
      z-index: #{$--index-normal + 1};
      color: $--disabled-color-base;
    }
  }

  @include e(dropdown) {
    margin: 4px 0;
    font-size: $--cascader-menu-font-size;
    background: $--cascader-menu-fill;
    border: $--cascader-menu-border;
    border-radius: $--cascader-menu-radius;
    box-shadow: $--cascader-menu-shadow;
    .popper__arrow {
      display: none;
    }
  }

  @include e(tags) {
    position: absolute;
    left: 0;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    text-align: left;
    box-sizing: border-box;
    z-index: 3;
    pointer-events: none;

    .el-tag {
      display: inline-flex;
      align-items: center;
      max-width: 100%;
      margin: 2px 0 2px 6px;
      text-overflow: ellipsis;
      color: $--color-text-6;
      pointer-events: auto;

      &.is-disabled {
        color: $--color-text-3;
        background: $--color-fill-3;
      }

      &:not(.is-hit) {
        border-color: transparent;
      }

      > span {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .iov-icon-close {
        flex: none;
      }
    }
  }

  @include e(suggestion-panel) {
    border-radius: $--cascader-menu-radius;
  }

  @include e(suggestion-list) {
    max-height: 204px;
    margin: 0;
    padding: 4px;
    font-size: $--font-size-base;
    color: $--cascader-menu-font-color;
    text-align: center;
  }

  @include e(suggestion-item) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    text-align: left;
    outline: none;
    cursor: pointer;
    border-radius: 2px;

    &:hover, &:focus {
      background: $--cascader-node-background-hover;
    }

    &.is-checked {
      color: $--cascader-menu-selected-font-color;
      font-weight: 500;
      background: $--color-primary-1;
    }

    > span {
      margin-right: 10px;
    }
  }

  @include e(empty-text) {
    margin: 8px 0;
    color: $--cascader-color-empty;
  }

  @include e(search-input) {
    flex: 1;
    height: 24px;
    min-width: 60px;
    margin: 2px 0 2px 12px;
    padding: 0;
    color: $--cascader-menu-font-color;
    border: none;
    outline: none;
    box-sizing: border-box;

    &::placeholder {
      color: $--color-text-placeholder;
    }
  }
}
