@import "common/var";
@import "mixins/mixins";

@include b(divider) {
  position: relative;
  border-bottom: 1px dashed $--color-line-1;

  @include m(horizontal) {
    display: block;
    height: 0;
    font-size: 0;
    width: 100%;
  }

  @include m(vertical) {
    display: inline-block;
    width: 0;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    border-right: 1px dashed $--color-line-1;
    border-bottom: 0 none;
    position: relative;
  }

  @include e(text) {
    position: absolute;
    background-color: #fff;
    padding: 0 8px;
    color: $--color-text-6;
    font-size: 13px;

    @include when(left) {
      left: 16px;
      transform: translateY(-50%);
    }

    @include when(center)  {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    @include when(right)  {
      right: 16px;
      transform: translateY(-50%);
    }
  }
}
