@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";

@include b(form) {
  @include m(label-left) {
    & .el-form-item__label {
      text-align: left;
    }
  }
  @include m(label-top) {
    .el-form-item {
      line-height: inherit;
    }
    & .el-form-item__label {
      float: none;
      display: inline-block;
      text-align: left;
      line-height: 1;
      padding: 0 0 8px 0;
    }
  }
  @include m(inline) {
    & .el-form-item {
      display: inline-block;
      margin-right: 8px;
      vertical-align: top;
    }
    & .el-form-item__label {
      float: none;
      display: inline-block;
    }
    & .el-form-item__content {
      display: inline-block;
      vertical-align: top;
    }
    &.el-form--label-top .el-form-item__content {
      display: block;
    }
  }
}
@include b(form-item) {
  line-height: $--input-height;
  margin-bottom: 20px;
  @include utils-clearfix;

  & .el-form-item {
    margin-bottom: 0;
  }

  & .el-form-item__label {
    font-size: $--input-font-size;
  }

  & .el-input__validateIcon {
    display: none;
  }

  @include m(medium) {
    line-height: $--input-medium-height;
    .el-form-item__label {
      font-size: $--input-medium-font-size;
    }
  }
  @include m(small) {
    line-height: $--input-small-height;
    .el-form-item__label {
      font-size: $--input-small-font-size;
    }
    &.el-form-item {
      margin-bottom: 20px;
    }
    .el-form-item__error {
      padding-top: 2px;
    }
  }
  @include m(mini) {
    line-height: $--input-mini-height;
    .el-form-item__label {
      font-size: $--input-mini-font-size;
    }
    &.el-form-item {
      margin-bottom: 20px;
    }
    .el-form-item__error {
      padding-top: 1px;
    }
  }

  @include e(label-wrap) {
    float: left;
    .el-form-item__label {
      display: inline-block;
      float: none;
    }
  }

  @include e(label) {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: $--font-size-base;
    color: $--color-text-4;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    font-weight: 400;
  }
  @include e(content) {
    position: relative;
    font-size: $--font-size-base;
    @include utils-clearfix;

    .el-input-group {
      vertical-align: top;
    }
  }
  @include e(error) {
    color: $--color-danger-6;
    font-size: 12px;
    line-height: 1;
    padding-top: 2px;
    position: absolute;
    top: 100%;
    left: 0;

    @include m(inline) {
      position: relative;
      top: auto;
      left: auto;
      display: inline-block;
      margin-left: 10px;
    }
  }

  @include when(required) {
    @include pseudo('not(.is-no-asterisk)') {
      & > .el-form-item__label:before,
      & .el-form-item__label-wrap > .el-form-item__label:before {
        content: '*';
        color: $--color-danger-6;
        margin-right: 4px;
      }
    }
  }

  @include when(error) {
    & .el-input-group--prefix-label,
    & .el-input-group--suffix-label {
      & {
        border-color: $--color-danger-6;
      }
      &.is-focus {
        border-color: $--color-danger-6;
        box-shadow: 0 0 0 2px rgba(245,63,63,0.1);
      }
    }
    & .el-input__inner,
    & .el-textarea__inner {
      & {
        border-color: $--color-danger-6;
      }
      &:focus {
        border-color: $--color-danger-6;
        box-shadow: 0 0 0 2px rgba(245,63,63,0.1);
      }
    }
    & .el-input-group__append,
    & .el-input-group__prepend {
      & .el-input__inner {
        border-color: transparent;
      }
    }
    .el-input__validateIcon {
      color: $--color-danger-6;
    }
  }

  @include m(feedback) {
    .el-input__validateIcon {
      display: inline-block;
    }
  }
}
