@import "mixins/mixins";
@import "common/var";

%size {
  width: 100%;
  height: 100%;
}

@include b(image) {
  position: relative;
  display: inline-block;
  overflow: hidden;

  @include e(border) {
    border: 1px solid $--color-line-2;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
  }

  @include e(inner) {
    @extend %size;
    vertical-align: top;

    @include m(center) {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }
  }

  @include e(placeholder) {
    @extend %size;
    background: $--background-color-base;
  }

  @include e(error) {
    @extend %size;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: $--background-color-base;
    color: $--color-text-placeholder;
    vertical-align: middle;
  }

  @include e(preview) {
    cursor: pointer;
  }
}


@include b(image-viewer) {


  @include e(wrapper) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include e(btn) {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    transition: background-color .3s;
    &:hover {
      background-color: rgba(0, 0, 0, .6);
    }
    &:active {
      background-color: rgba(0, 0, 0, .8);
    }
  }

  @include e(close) {
    top: 24px;
    right: 24px;
  }

  @include e(canvas) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(actions) {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    width: 232px;
    height: 48px;
    padding: 8px 16px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;

    @include e(actions__inner) {
      width: 100%;
      height: 100%;
      text-align: justify;
      cursor: default;
      display: flex;
      align-items: center;
      justify-content: space-between;
      i {
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        border-radius: 4px;
        color: $--color-fill-6;
        &:hover {
          background: $--color-fill-1;
          color: $--color-primary-5;
        }
        &:active {
          background: $--color-fill-1;
          color: $--color-primary-7;
        }
        &:before {
          font-size: 14px;
        }
        &.disabled {
          background: none;
          color: $--color-fill-4;
          cursor: not-allowed;
        }
      }
    }
  }

  @include e(prev){
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
  }

  @include e(next){
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    text-indent: 2px;
  }

  @include e(mask) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
  }
}

.viewer-fade-enter-active {
  animation: viewer-fade-in .3s;
}

.viewer-fade-leave-active {
  animation: viewer-fade-out .3s;
}

@keyframes viewer-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes viewer-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
