@import "mixins/mixins";
@import "common/var";
@import "input";

@include b(input-number) {
  position: relative;
  display: block;
  line-height: #{$--input-height - 2};
  padding-left: #{$--input-height};
  padding-right: #{$--input-height};

  .el-input {
    display: block;
    &__inner {
      -webkit-appearance: none;
      border-radius: 0;
      &:hover,
      &:focus {
        z-index: 2;
        position: relative;
      }
    }
  }

  @include e((increase, decrease)) {
    position: absolute;
    z-index: 1;
    width: #{$--input-height};
    height: auto;
    text-align: center;
    background: $--color-fill-1;
    color: $--color-fill-6;
    cursor: pointer;
    font-size: 13px;
    border: 1px solid $--color-line-2;
    box-sizing: border-box;

    &:hover {
      color: $--color-primary-5;
      border-color: $--color-primary-5;
      background: $--color-primary-1;
    }
    &:focus {
      color: $--color-primary-7;
      border-color: $--color-primary-5;
      background: $--color-primary-1;
    }

    &.is-disabled {
      color: $--color-fill-4;
      cursor: not-allowed;
      background: $--color-fill-1;
      &:hover {
        border-color: $--color-line-2;
        background: $--color-fill-1;
      }
    }
  }

  @include e(increase) {
    right: 1px;
    border-radius: 0 4px 4px 0;
  }

  @include e(decrease) {
    left: 1px;
    border-radius: 4px 0 0 4px;
  }

  @include when(disabled) {
    @include e((increase, decrease)) {
      border-color: $--color-line-2;
      color: $--color-fill-4;

      &:hover {
        color: $--color-fill-4;
        cursor: not-allowed;
        background: $--color-fill-1;
      }
    }
  }

  @include m(medium) {
    line-height: #{$--input-medium-height - 2};
    padding-left: #{$--input-medium-height};
    padding-right: #{$--input-medium-height};

    @include e((increase, decrease)) {
      width: #{$--input-medium-height};
      font-size: $--input-medium-font-size;
    }
  }

  @include m(small) {
    line-height: #{$--input-small-height - 2};
    padding-left: #{$--input-small-height};
    padding-right: #{$--input-small-height};

    @include e((increase, decrease)) {
      width: $--input-small-height;
      font-size: $--input-small-font-size;
    }
  }

  @include m(mini) {
    line-height: #{$--input-mini-height - 2};
    padding-left: #{$--input-mini-height};
    padding-right: #{$--input-mini-height};

    @include e((increase, decrease)) {
      width: $--input-mini-height;
      font-size: $--input-mini-font-size;
    }
  }

  @include when(without-controls) {
    padding: 0;
    .el-input__inner {
      border-radius: 4px;
    }
  }

  @include when(controls-right) {
    padding: 0;
    &:hover {
      .el-input-number__increase,
      .el-input-number__decrease {
        opacity: 1;
        transform: translateX(0)
      }
    }
    .el-input__inner {
      border-radius: 4px;
      &:hover,
      &:focus {
        z-index: 0;
        position: relative;
      }
    }

    @include e((increase, decrease)) {
      height: auto;
      line-height: #{($--input-height - 2) / 2};
      left: auto;
      transform: translateX(5px);
      opacity: 0;
      transition: all .25s ease;
    }

    @include e(increase) {
      border-radius: 0 $--border-radius-base 0 0;
      border: 0 none;
      border-left: 1px solid $--color-line-2;
      border-bottom: 1px solid $--color-line-2;
      right: 1px;
      top: 1px;
    }

    @include e(decrease) {
      right: 1px;
      bottom: 1px;
      top: auto;
      border: 0 none;
      border-left: 1px solid $--color-line-2;
      border-radius: 0 0 $--border-radius-base 0;
    }

    &[class*=medium] {
      [class*=increase], [class*=decrease] {
        line-height: #{($--input-medium-height - 2) / 2};
      }
    }

    &[class*=small] {
      [class*=increase], [class*=decrease] {
        line-height: #{($--input-small-height - 2) / 2};
      }
    }

    &[class*=mini] {
      [class*=increase], [class*=decrease] {
        line-height: #{($--input-mini-height - 2) / 2};
      }
    }
  }
}
