@import "mixins/mixins";
@import "common/var";

$typeMap: (
  primary: (default: $--color-primary-6, hover: $--color-primary-5, disabled: $--color-primary-2),
  danger:  (default: $--color-danger-6,  hover: $--color-danger-5,  disabled: $--color-danger-2),
  success: (default: $--color-success-6, hover: $--color-success-5, disabled: $--color-success-2),
  warning: (default: $--color-warning-6, hover: $--color-warning-5, disabled: $--color-warning-2),
  gold:    (default: $--color-gold-6,    hover: $--color-gold-5,    disabled: $--color-gold-2),
  blue:    (default: $--color-blue-6,    hover: $--color-blue-5,    disabled: $--color-blue-2),
  purple:  (default: $--color-purple-6,  hover: $--color-purple-5,  disabled: $--color-purple-2),
  pink:    (default: $--color-pink-6,    hover: $--color-pink-5,    disabled: $--color-pink-2)
);

@include b(link) {
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;

  @include when(underline) {
    &:hover:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 1px solid $--color-primary-6;
    }
  }

  @include m(large) {
    font-size: 16px;
  }
  @include m(medium) {
    font-size: 14px;
  }
  @include m(small) {
    font-size: 13px;
  }
  @include m(mini) {
    font-size: 12px;
  }

  @include when(disabled) {
    cursor: not-allowed;
  }

  & [class*="iov-icon-"] {
    & + span {
      margin-left: 2px;
    }
  }


  &.el-link--default  {
    color: $--color-text-6;
    &:hover {
      color: $--color-primary-6;
    }
    &:after {
      border-color: $--color-primary-6;
    }
    @include when(disabled) {
      color: $--color-text-1;
    }
    &.is-text {
      color: $--color-text-6;
      cursor: text;
      &:hover {
        color: $--color-text-6;
      }
    }
  }

  @each $type, $colors in $typeMap {
    &.el-link--#{$type} {
      $primaryColor: map-get($colors, default);
      $hoverColor: map-get($colors, hover);
      $disabledColor: map-get($colors, disabled);
      color: $primaryColor;
      &:hover {
        color: $hoverColor;
      }
      &:after {
        border-color: $primaryColor;
      }
      @include when(disabled) {
        color: $disabledColor;
      }
      @include when(underline) {
        &:hover:after {
          border-color: $primaryColor;
        }
      }

      &.is-text {
        cursor: text;
        color: $primaryColor;
        &:hover {
          color: $primaryColor; // 保持一致
        }
      }
    }
  }
}
