@import "mixins/mixins";
@import "common/var";

@include b(message) {
  box-sizing: border-box;
  border-radius: 4px;
  border: 0.5px solid $--color-line-2;
  position: fixed;
  left: 50%;
  top: 46px;
  transform: translateX(-50%);
  background-color: #fff;
  transition: opacity 0.3s, transform .4s, top 0.4s;
  overflow: hidden;
  padding: 13px 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 18px 0 rgba(73,75,83,0.1);

  @include when(center) {
    justify-content: center;
  }

  @include when(closable) {
    .el-message__content {
      padding-right: 24px;
    }
  }

  p {
    margin: 0;
  }

  @include m(info) {
    .el-message__content {
      color: $--color-text-6;
    }
  }

  @include m(success) {
    .el-message__content {
      color: $--color-text-6;
    }
  }

  @include m(warning) {
    .el-message__content {
      color: $--color-text-6;
    }
  }

  @include m(error) {
    .el-message__content {
      color: $--color-text-6;
    }
  }

  @include e(icon) {
    margin-right: 8px;
    font-size: 16px;
  }

  @include e(content) {
    padding: 0;
    font-size: 13px;
    line-height: 16px;
    &:focus {
      outline-width: 0;
    }
  }

  @include e(closeBtn) {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    color: $--color-fill-5;
    font-size: 14px;

    &:focus {
      outline-width: 0;
    }
    &:hover {
      color: $--color-fill-6;
    }
  }

  .iov-icon-fill-success {
    color: $--color-success-6;
  }

  .iov-icon-fill-explain {
    color: $--color-primary-6;
  }

  .iov-icon-fill-warning {
    color: $--color-warning-6;
  }

  .iov-icon-fill-fail {
    color: $--color-danger-6;
  }
}

.el-message-fade-enter,
.el-message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}
