@import "mixins/mixins";
@import "common/var";
@import "common/popup";
@import "button";
@import "input";

@include b(message-box) {
  display: inline-block;
  width: 480px;
  background: #fff;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;

  @include e(wrapper) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }
  }

  @include e(header) {
    position: relative;
    padding: 16px 24px;
    &.el-message-box__header-border {
      border-bottom: 1px solid $--color-line-1;
    }
  }

  @include e(title) {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1;
    color: $--color-text-6;
  }

  @include e(headerbtn) {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 4px;
    cursor: pointer;
    font-size: 0;
    margin-top: -12px;
    transition: all ease .3s;
    border-radius: 4px;

    .el-message-box__close {
      font-size: 16px;
      color: $--color-fill-5;
    }

    &:focus, &:hover {
      background: $--color-fill-1;
      .el-message-box__close {
        color: $--color-fill-6;
      }
    }

  }

  @include e(content) {
    padding: 16px 24px 0;
    color: $--color-text-6;
    font-size: 13px;
    line-height: 20px;
  }

  @include e(container) {
    position: relative;
  }

  @include e(input) {
    padding-top: 4px;
    & input.invalid {
      border-color: $--color-danger;
      &:focus {
        border-color: $--color-danger;
      }
    }
  }

  @include e(status) {
    font-size: 24px !important;
    position: absolute;
    top: -2px;

    + .el-message-box__message {
      padding-left: 32px;
    }

    &.iov-icon-fill-success {
      color: $--color-success-6;
    }

    &.iov-icon-fill-explain {
      color: $--color-primary-6;
    }

    &.iov-icon-fill-warning {
      color: $--color-warning-6;
    }

    &.iov-icon-fill-fail {
      color: $--color-danger-6;
    }
  }

  @include e(message) {
    margin: 0;

    & p {
      margin: 0;
      line-height: 20px;
    }
  }

  @include e(errormsg) {
    color: $--color-danger-6;
    font-size: 12px;
    min-height: 18px;
    margin-top: 2px;
  }

  @include e(btns) {
    padding: 16px 24px 20px;
    text-align: right;

    & button:nth-child(2) {
      margin-left: 10px;
    }
  }

  @include e(btns-reverse) {
    flex-direction: row-reverse;
  }

  // centerAlign 布局
  @include m(title-icon) {
    @include e(header) {
      padding: 24px 24px 0;
      border-bottom: 0 none;
    }
    @include e(title) {
      display: flex;
      align-items: center;
    }
    @include e(status) {
      margin-right: 8px;
      position: relative;
      top: auto;
    }
    @include e(content) {
      padding-left: 56px;
      padding-top: 8px;
      color: $--color-text-3;
    }
    @include e(message) {
      margin-left: 0;
    }
  }
}

.msgbox-fade-enter-active {
  animation: msgbox-fade-in .3s;
}

.msgbox-fade-leave-active {
  animation: msgbox-fade-out .3s;
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
