@import "mixins/mixins";
@import "common/var";

@include b(popper) {
  .popper__arrow,
  .popper__arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  .popper__arrow {
    border-width: 6px;
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03))
  }

  .popper__arrow::after {
    content: " ";
    border-width: 6px;
  }

  &[x-placement^="top"] {
    margin-bottom: 10px;
  }

  &[x-placement^="top"] .popper__arrow {
    bottom: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-color: $--color-line-2;
    border-bottom-width: 0;

    &::after {
      bottom: 0.5px;
      margin-left: -6px;
      border-top-color: #fff;
      border-bottom-width: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 10px;
  }

  &[x-placement^="bottom"] .popper__arrow {
    top: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: $--color-line-2;

    &::after {
      top: 0.5px;
      margin-left: -6px;
      border-top-width: 0;
      border-bottom-color: #fff;
    }
  }

  &[x-placement^="right"] {
    margin-left: 10px;
  }

  &[x-placement^="right"] .popper__arrow {
    top: 50%;
    left: -6px;
    margin-bottom: 3px;
    border-right-color: $--color-line-2;
    border-left-width: 0;

    &::after {
      bottom: -6px;
      left: 0.5px;
      border-right-color: #fff;
      border-left-width: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 10px;
  }

  &[x-placement^="left"] .popper__arrow {
    top: 50%;
    right: -6px;
    margin-bottom: 3px;
    border-right-width: 0;
    border-left-color: $--color-line-2;

    &::after {
      right: 0.5px;
      bottom: -6px;
      margin-left: -6px;
      border-right-width: 0;
      border-left-color: #fff;
    }
  }
}
