@import "mixins/mixins";
@import "mixins/utils";
@import 'mixins/button';
@import "common/var";

@include b(radio) {
  color: $--radio-font-color;
  font-weight: $--radio-font-weight;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: $--font-size-base;
  margin-right: 30px;
  &:hover {
    .el-radio__inner {
      border-color: $--radio-input-border-color-hover;
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
  }

  @include utils-user-select(none);

  @include when(bordered) {
    margin-right: 8px;
    padding: $--radio-bordered-padding;
    border-radius: $--border-radius-base;
    border: 1px solid $--color-line-2;
    box-sizing: border-box;
    height: $--radio-bordered-height;
    line-height: $--radio-bordered-height;
    transition: border-color ease .3s;

    &.is-checked {
      border-color: $--color-primary-6;
      .el-radio__label {
        transition: color ease .3s;
        color: $--color-primary-6;
      }
      &.is-disabled {
        background: #fff;
        border-color: $--color-primary-3;
        .el-radio__label {
          color: $--color-primary-3;
        }
      }
    }

    &.is-disabled {
      cursor: not-allowed;
      background: $--color-fill-1;
    }
  }
  @include when(button) {
    margin-right: 8px;
    color: $--color-text-4;
    background: $--color-fill-2;
    padding: $--radio-bordered-padding;
    border-radius: $--border-radius-base;
    box-sizing: border-box;
    height: $--radio-bordered-height;
    line-height: $--radio-bordered-height;
    transition: background-color ease .3s;

    &.is-checked {
      background: $--color-primary-2;
      .el-radio__label {
        transition: color ease .3s;
        color: $--color-primary-6;
      }
      &.is-disabled {
        background-color: $--color-primary-1;
        .el-radio__label {
          color: $--color-primary-3;
        }
      }
    }

    &.is-disabled {
      cursor: not-allowed;
      background: $--color-fill-1;
      .el-radio__label {
        color: $--color-text-1
      }
    }
  }

  @include m(medium) {
    &.is-bordered,
    &.is-button {
      padding: $--radio-bordered-medium-padding;
      border-radius: $--button-medium-border-radius;
      height: $--radio-bordered-medium-height;
      line-height: $--radio-bordered-medium-height;
      .el-radio__label {
        font-size: $--radio-font-medium-size;
      }
    }
    &.is-button {
      line-height: $--radio-bordered-medium-height;
    }
  }
  @include m(small) {
    &.is-bordered,
    &.is-button {
      padding: $--radio-bordered-small-padding;
      border-radius: $--button-small-border-radius;
      height: $--radio-bordered-small-height;
      line-height: $--radio-bordered-small-height;
      .el-radio__label {
        font-size: $--radio-font-small-size;
      }
    }
    &.is-button {
      line-height: $--radio-bordered-small-height;
    }
  }
  @include m(mini) {
    &.is-bordered,
    &.is-button {
      padding: $--radio-bordered-mini-padding;
      border-radius: $--button-mini-border-radius;
      height: $--radio-bordered-mini-height;
      line-height: $--radio-bordered-mini-height;
      .el-radio__label {
        font-size: $--radio-font-mini-size;
      }
    }
    &.is-button {
      line-height: $--radio-bordered-mini-height;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include e(input) {
    margin-right: 8px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    @include when(disabled) {
      .el-radio__inner {
        background-color: $--radio-disabled-input-fill;
        border-color: $--radio-disabled-input-border-color;
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          background-color: $--radio-disabled-icon-color;
        }

        & + .el-radio__label {
          cursor: not-allowed;
        }
      }
      &.is-checked {
        .el-radio__inner {
          background-color: $--radio-disabled-checked-input-fill;
          border-color: $--radio-disabled-checked-input-border-color;

          &::after {
            background-color: $--radio-disabled-checked-icon-color;
          }
        }
      }
      & + span.el-radio__label {
        color: $--color-text-2;
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .el-radio__inner {
        border-color: $--radio-checked-input-border-color;
        background: $--radio-checked-input-background-color;

        &::after {
          background: $--radio-checked-icon-color;
          transform: translate(-50%, -50%) scale(1);
        }
      }

      & + .el-radio__label {
        color: $--radio-checked-font-color;
      }
    }

    @include when(focus) {
      .el-radio__inner {
        border-color: $--radio-input-border-color-hover;
      }
    }
  }
  @include e(inner) {
    border: $--radio-input-border;
    border-radius: $--radio-input-border-radius;
    width: $--radio-input-width;
    height: $--radio-input-height;
    background-color: $--radio-input-background-color;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    transition: all ease .3s;

    &:hover {
      border-color: $--radio-input-border-color-hover;
    }

    &::after {
      width: 10px;
      height: 10px;
      border-radius: $--radio-input-border-radius;
      background-color: $--color-white;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .15s ease-in;
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  // &:focus:not(.is-focus):not(:active):not(.is-disabled) { /*获得焦点时 样式提醒*/
  //   .el-radio__inner {
  //     box-shadow: 0 0 2px 2px $--radio-input-border-color-hover;
  //   }
  // }

  @include e(label) {
    font-size: $--radio-font-size;
  }
}
