@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select-dropdown";
@import "input";
@import "tag";
@import "option";
@import "option-group";
@import "scrollbar";

@include b(select) {
  display: block;
  position: relative;

  .el-select__tags
    >span {
      display: contents;
    }

  &:hover {
    .el-input__inner {
      border-color: $--select-border-color-hover;
    }
  }

  .el-input__inner {
    cursor: pointer;
    padding-right: 35px;

    // &:focus {
    //   border-color: $--select-input-focus-border-color;
    // }
  }

  .el-input {
    .el-input__suffix {
      right: 8px;
    }
    & .el-select__caret {
      padding-right: 0;
      color: $--select-input-color;
      font-size: $--select-icon-size;
      transition: transform .3s;
      transform: rotateZ(180deg);
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(0deg);
      }

      @include when(show-close) {
        font-size: $--select-font-size;
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: $--border-radius-circle;
        color:  $--select-close-color;
        background-color: $--select-close-background-color;
        transition: $--color-transition-base;

        &:hover {
          color: $--select-close-hover-color;
          background-color: $--select-close-hover-background-color;
        }
      }
    }

    &.is-disabled {
      & .el-input__inner {
        cursor: not-allowed;

        // &:hover {
        //   border-color: $--select-disabled-border;
        // }
      }
    }

    &.is-focus .el-input__inner {
      outline: none;
      border-color: $--input-focus-border;
      box-shadow: $--input-box-shadow;
    }
  }

  > .el-input {
    display: block;
  }
  > .el-input-group {
    display: flex;
    .el-input__inner {
      border-radius: $--input-border-radius;
    }
    &.is-focus .el-input__inner {
      box-shadow: none;
    }
  }

  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 15px;
    color: $--select-multiple-input-color;
    font-size: $--select-font-size;
    appearance: none;
    height: 28px;
    background-color: transparent;
    @include when(mini) {
      height: 14px;
    }
  }

  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $--index-top;
    right: 25px;
    color: $--select-close-color;
    background-color: $--select-close-background-color;
    line-height: 18px;
    font-size: $--select-icon-size;

    &:hover {
      color: $--select-close-hover-color;
      background-color: $--select-close-hover-background-color;
    }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include e(tags-text) {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include m(large) {
    .el-tag--medium {
      height: 28px;
    }
  }
  @include m(medium) {
    .el-tag--small {
      height: 24px;
    }
  }
  @include m(mini) {
    .el-tag--mini {
      height: 18px;
    }
  }


  &.is-disabled {
    .el-tag {
      &.el-tag--info {
        background: $--color-fill-3;
        color: $--color-text-3;
      }
    }
  }
  .el-tag {
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 4px;
    padding: 0 6px;
    display: flex;
    max-width: 100%;
    align-items: center;
    &.el-tag--info {
      background: $--color-fill-2;
      color: $--color-text-6;
      border: 0 none;
    }
    &.el-tag--medium {
      height: 28px;
    }
  }
}
