@import "mixins/mixins";
@import "checkbox";
@import "tag";
@import "common/var";

@include b(table-column) {
  @include m(selection) {
    .cell {
      padding-left: 14px !important;
      padding-right: 14px !important;
      text-overflow: initial;
    }
    .el-checkbox__input {
      margin-right: 0;
    }
  }
}

@include b(table-filter) {
  margin-top: 4px;
  border: solid 1px $--color-line-2;
  border-radius: 2px;
  box-shadow: 0px 2px 8px 0px rgba(73,75,83,0.12);
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;

  /** used for dropdown mode */
  @include e(list) {
    padding: 4px;
    margin: 0;
    list-style: none;
  }

  @include e(list-item) {
    line-height: 32px;
    height: 32px;
    padding: 0 12px;
    cursor: pointer;
    font-size: 13px;
    transition: background ease .2s;
    border-radius: 2px;

    &:hover {
      background: $--color-fill-1;
    }

    @include when(active) {
      background: $--color-fill-1;
    }
  }

  @include e(content) {
    padding: 4px;
    min-width: 100px;
    box-sizing: border-box;
  }

  @include e(bottom) {
    border-top: 1px solid $--color-line-1;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
  }

  @include e(wrap) {
    max-height: 280px;
  }

  @include e(checkbox-group) {
    label.el-checkbox {
      display: block;
      margin: 0 auto;
      padding: 0 12px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      transition: background ease .2s;
      white-space: nowrap;
      &:hover {
        background: $--color-fill-1;
        .el-checkbox__inner {
          border-color: $--color-line-3;
        }
        .el-checkbox__input.is-checked .el-checkbox__inner {
          border-color: $--color-primary-6;
        }
      }
      .el-checkbox__input.is-checked.is-focus .el-checkbox__inner {
        border-color: $--color-primary-6;
      }
      .el-checkbox__input.is-focus .el-checkbox__inner  {
        border-color: $--color-line-3;
      }
    }
  }
}
