@import "mixins/mixins";
@import "common/var";

@mixin genTheme($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  background-color: $backgroundColor;
  color: $color;
  border-color: $plainBorderColor;
  @include when(hit) {
    border: 1px solid $borderColor;
    line-height: 30px;
  }
  @include when(disabled) {
    .el-tag__text {
      color: $disabledTextColor;
    }
    .el-tag__close {
      color: $disabledCloseColor;
      &:hover {
        color: $disabledCloseColor;
      }
      cursor: not-allowed;
    }
  }
  @include when(dot) {
    .el-tag__text:before {
      background: $color;
    }
  }
  .el-tag__close {
    color: $color;
    &:hover {
      color: $hoverColor;
    }
  }
}
@mixin genThemePrimary($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--primary {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemeInfo($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--info {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemeSuccess($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--success {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemeWarning($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--warning {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemeDanger($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--danger {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemeGold($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--gold {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemeBlue($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--blue {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemePurple($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--purple {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemePink($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--pink {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemeMauve($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--mauve {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemeSalmon($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--salmon {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}

@mixin genThemeGrey($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--gray {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@mixin genThemeDarkblue($backgroundColor, $borderColor, $color, $hoverColor, $plainBorderColor, $disabledTextColor, $disabledCloseColor) {
  &.el-tag--darkblue {
    background-color: $backgroundColor;
    color: $color;
    border-color: $plainBorderColor;
    @include when(hit) {
      border-color: $borderColor;
    }
    @include when(disabled) {
      .el-tag__text {
        color: $disabledTextColor;
      }
      .el-tag__close {
        color: $disabledCloseColor;
        &:hover {
          color: $disabledCloseColor;
        }
        cursor: not-allowed;
      }
    }
    @include when(dot) {
      .el-tag__text:before {
        background: $color;
      }
    }
    .el-tag__close {
      color: $color;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}

@include b(tag) {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: $--tag-padding;
  font-size: $--tag-font-size;
  color: $--color-text-5;
  border-radius: $--tag-border-radius;
  box-sizing: border-box;
  white-space: nowrap;
  @include genTheme($--color-fill-2, $--color-line-2, $--color-text-5, $--color-text-4, $--color-fill-2, $--color-text-3, $--color-fill-4);
  @include genThemePrimary($--color-darkblue-1, $--color-darkblue-2, $--color-darkblue-6, $--color-darkblue-7, $--color-darkblue-1, $--color-darkblue-3, $--color-darkblue-4);
  @include genThemeInfo($--color-fill-2, $--color-line-2, $--color-text-3, $--color-text-4, $--color-fill-2, $--color-text-3, $--color-fill-4);
  @include genThemeSuccess($--color-success-1, $--color-success-2, $--color-success-6, $--color-success-7, $--color-success-1, $--color-success-3, $--color-success-4);
  @include genThemeWarning($--color-warning-1, $--color-warning-2, $--color-warning-6, $--color-warning-7, $--color-warning-1, $--color-warning-3, $--color-warning-4);
  @include genThemeDanger($--color-danger-1, $--color-danger-2, $--color-danger-6, $--color-danger-7, $--color-danger-1, $--color-danger-3, $--color-danger-4);
  @include genThemeGold($--color-gold-1, $--color-gold-2, $--color-gold-6, $--color-gold-7, $--color-gold-1, $--color-gold-3, $--color-gold-4);
  @include genThemeBlue($--color-blue-1, $--color-blue-2, $--color-blue-6, $--color-blue-7, $--color-blue-1, $--color-blue-3, $--color-blue-4);
  @include genThemePurple($--color-purple-1, $--color-purple-2, $--color-purple-6, $--color-purple-7, $--color-purple-1, $--color-purple-3, $--color-purple-4);
  @include genThemePink($--color-pink-1, $--color-pink-2, $--color-pink-6, $--color-pink-7, $--color-pink-1, $--color-pink-3, $--color-pink-4);
  @include genThemeMauve($--color-mauve-1, $--color-mauve-2, $--color-mauve-6, $--color-mauve-7, $--color-mauve-1, $--color-mauve-3, $--color-mauve-4);
  @include genThemeSalmon($--color-salmon-1, $--color-salmon-2, $--color-salmon-6, $--color-salmon-7, $--color-salmon-1, $--color-salmon-3, $--color-salmon-4);
  @include genThemeGrey($--color-grey-1, $--color-grey-2, $--color-grey-6, $--color-grey-7, $--color-grey-1, $--color-grey-3, $--color-grey-4);
  @include genThemeDarkblue($--color-darkblue-1, $--color-darkblue-2, $--color-darkblue-6, $--color-darkblue-7, $--color-darkblue-1, $--color-darkblue-3, $--color-darkblue-4);


  @include when(dot) {
    padding: 0;
    background: none;
    border: 0 none;
    color: $--color-text-6;
    font-size: 14px;
    height: auto;
    line-height: normal;
    .el-tag__text {
      display: flex;
      align-items: center;
      &:before {
        margin-right: 6px;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 100%;
        display: inline-block;
      }
    }
  }

  @include e(inner) {
    display: flex;
    align-items: center;
  }

  @include e(text) {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .el-tag-icon {
    margin-right: 4px;
    font-size: 16px;
  }

  .iov-icon-close-mini {
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;

    &::before {
      display: block;
    }
  }

  @include m(dark) {
    @include genTheme($--color-text-3, $--color-text-3, $--color-white, $--color-white, $--color-text-3, $--color-text-3, $--color-fill-4);
    @include genThemePrimary($--color-darkblue-6, $--color-darkblue-6, $--color-white, $--color-white, $--color-darkblue-6, $--color-darkblue-3, $--color-darkblue-4);
    @include genThemeInfo($--color-text-3, $--color-text-3, $--color-white, $--color-white, $--color-text-3, $--color-text-3, $--color-fill-4);
    @include genThemeSuccess($--color-success-6, $--color-success-6, $--color-white, $--color-white, $--color-success-6, $--color-success-3, $--color-success-4);
    @include genThemeWarning($--color-warning-6, $--color-warning-6, $--color-white, $--color-white, $--color-warning-6, $--color-warning-3, $--color-warning-4);
    @include genThemeDanger($--color-danger-6, $--color-danger-6, $--color-white, $--color-white, $--color-danger-6, $--color-danger-3, $--color-danger-4);
    @include genThemeGold($--color-gold-6, $--color-gold-6, $--color-white, $--color-white, $--color-gold-6, $--color-gold-3, $--color-gold-4);
    @include genThemeBlue($--color-blue-6, $--color-blue-6, $--color-white, $--color-white, $--color-blue-6, $--color-blue-3, $--color-blue-4);
    @include genThemePurple($--color-purple-6, $--color-purple-6, $--color-white, $--color-white, $--color-purple-6, $--color-purple-3, $--color-purple-4);
    @include genThemePink($--color-pink-6, $--color-pink-6, $--color-white, $--color-white, $--color-pink-6, $--color-pink-3, $--color-pink-4);
    @include genThemePink($--color-pink-6, $--color-pink-6, $--color-white, $--color-white, $--color-pink-6, $--color-pink-3, $--color-pink-4);
    @include genThemeMauve($--color-mauve-6, $--color-mauve-6, $--color-white, $--color-white, $--color-mauve-6, $--color-mauve-3, $--color-mauve-4);
    @include genThemeSalmon($--color-salmon-6, $--color-salmon-6, $--color-white, $--color-white, $--color-salmon-6, $--color-salmon-3, $--color-salmon-4);
    @include genThemeGrey($--color-grey-6, $--color-grey-6, $--color-white, $--color-white, $--color-grey-6, $--color-grey-3, $--color-grey-4);
    @include genThemeDarkblue($--color-darkblue-6, $--color-darkblue-6, $--color-white, $--color-white, $--color-darkblue-6, $--color-darkblue-3, $--color-darkblue-4);
  }

  @include m(plain) {
    border-width: 1px;
    border-style: solid;
    line-height: 30px;
    @include genTheme($--color-white, $--color-line-2, $--color-text-3, $--color-text-4, $--color-text-3, $--color-text-3, $--color-fill-4);
    @include genThemePrimary($--color-white, $--color-darkblue-2, $--color-darkblue-6, $--color-darkblue-7, $--color-darkblue-6, $--color-darkblue-3, $--color-darkblue-4);
    @include genThemeInfo($--color-white, $--color-line-2, $--color-text-3, $--color-text-4, $--color-text-3, $--color-text-3, $--color-fill-4);
    @include genThemeSuccess($--color-white, $--color-success-2, $--color-success-6, $--color-success-7, $--color-success-6, $--color-success-3, $--color-success-4);
    @include genThemeWarning($--color-white, $--color-warning-2, $--color-warning-6, $--color-warning-7, $--color-warning-6, $--color-warning-3, $--color-warning-4);
    @include genThemeDanger($--color-white, $--color-danger-2, $--color-danger-6, $--color-danger-7, $--color-danger-6, $--color-danger-3, $--color-danger-4);
    @include genThemeGold($--color-white, $--color-gold-2, $--color-gold-6, $--color-gold-7, $--color-gold-6, $--color-gold-3, $--color-gold-4);
    @include genThemeBlue($--color-white, $--color-blue-2, $--color-blue-6, $--color-blue-7, $--color-blue-6, $--color-blue-3, $--color-blue-4);
    @include genThemePurple($--color-white, $--color-purple-2, $--color-purple-6, $--color-purple-7, $--color-purple-6, $--color-purple-3, $--color-purple-4);
    @include genThemePink($--color-white, $--color-pink-2, $--color-pink-6, $--color-pink-7, $--color-pink-6, $--color-pink-3, $--color-pink-4);
    @include genThemeMauve($--color-white, $--color-mauve-2, $--color-mauve-6, $--color-mauve-7, $--color-mauve-6,$--color-mauve-3, $--color-mauve-4);
    @include genThemeSalmon($--color-white, $--color-salmon-2, $--color-salmon-6, $--color-salmon-7, $--color-salmon-6, $--color-salmon-3, $--color-salmon-4);
    @include genThemeGrey($--color-white, $--color-grey-2, $--color-grey-6, $--color-grey-7, $--color-grey-6, $--color-grey-3, $--color-grey-4);
    @include genThemeDarkblue($--color-white, $--color-darkblue-2, $--color-darkblue-6, $--color-darkblue-7, $--color-darkblue-6, $--color-darkblue-3, $--color-darkblue-4);
  }

  @include m(medium) {
    font-size: $--tag-font-size;
    height: 30px;
    border-radius: $--tag-border-radius;
    line-height: 30px;
    &.is-dot {
      font-size: 14px;
    }
    &.is-hit,
    &.el-tag--plain {
      line-height: 28px;
    }

    .el-tag-icon {
      font-size: 16px;
    }
    .iov-icon-close-mini {
      font-size: 12px;
    }
  }

  @include m(small) {
    font-size: $--tag-small-font-size;
    height: 26px;
    border-radius: 4px;
    line-height: 26px;
    &.is-dot {
      font-size: 13px;
    }
    &.is-hit,
    &.el-tag--plain {
      line-height: 24px;
    }

    .el-tag-icon {
      font-size: 12px;
    }

    .iov-icon-close-mini {
      font-size: 10px;
    }
  }

  @include m(mini) {
    font-size: $--tag-small-font-size;
    height: 22px;
    border-radius: 4px;
    line-height: 22px;
    &.is-dot {
      font-size: 12px;
    }
    &.is-hit,
    &.el-tag--plain {
      line-height: 20px;
    }

    .el-tag-icon {
      font-size: 12px;
    }

    .iov-icon-close-mini {
      font-size: 10px;
    }
  }
}
