@import "common/var";
@import "./date-picker/picker.scss";
@import "./date-picker/date-picker.scss";
@import "./scrollbar.scss";
@import "./popper";

.time-select {
  margin: 4px 0;
  padding: 4px;
  min-width: 0;
  box-sizing: border-box;
}

.time-select .el-picker-panel__content {
  max-height: 200px;
  margin: 0;
  width: auto;
}

.time-select-item {
  padding: 0 12px;
  font-size: 13px;
  line-height: 32px;
  box-sizing: border-box;
  font-weight: 400;
  border-radius: 2px;
  transition: all ease .2s;
  cursor: pointer;
}

.time-select-item.selected:not(.disabled) {
  color: $--color-text-6;
  font-weight: 500;
  background-color: $--color-primary-1;
}

.time-select-item.disabled {
  color: $--color-text-2;
  cursor: not-allowed;
  &:hover {
    background-color: transparent;
  }
}

.time-select-item:hover {
  background-color: $--color-fill-1;
}
