@import "mixins/mixins";
@import "common/var";

@include b(tooltip) {
  &:focus:not(.focusing), &:focus:hover {
    outline-width: 0;
  }
  @include e(popper) {
    position: absolute;
    border-radius: 4px;
    padding: 9px 0 9px 12px;
    z-index: 2000;
    font-size: 13px;
    line-height: 18px;
    min-width: 10px;
    max-width: 280px;
    max-height: 176px;
    word-wrap: break-word;
    box-shadow: 0px 2px 8px 0px rgba(73,75,83,0.12);
    box-sizing: border-box;
    text-align: justify;

    &.el-tooltip--small {
      padding: 6px 0 6px 8px;
      font-size: 12px;
      .el-scrollbar__view {
        padding-right: 8px;
      }
    }

    .el-scrollbar__view {
      padding-right: 12px;
    }

    .popper__arrow {
      position: absolute;
      width: 16px;
      height: 8px;
    }

    .popper__arrow:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 8px;
      inset-inline-start: 0;
      background: rgba(13,23,34,0.9);
      clip-path: path('M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z');
    }

    &[x-placement^="top"] {
      margin-bottom: 12px;
      .popper__arrow {
        bottom: -8px;
        transform: rotateZ(180deg);
      }
    }

    &[x-placement^="bottom"] {
      margin-top: 12px;
      .popper__arrow {
        top: -8px;
      }
    }

    &[x-placement^="right"] {
      margin-left: 12px;
      .popper__arrow {
        left: -12px;
        transform: rotateZ(-90deg);
      }
    }

    &[x-placement^="left"] {
      margin-right: 12px;
      .popper__arrow {
        right: -12px;
        transform: rotateZ(90deg);
      }
    }

    @include when(dark) {
      background: rgba(13,23,34,0.9);
      color: #fff;
    }

    @include when(light) {
      background: #fff;
      color: $--color-text-5;
      border: 0.5px solid $--color-line-2;
      .popper__arrow:before {
        content: '';
        position: absolute;
        inset: 0;
        background: $--color-line-2;
        transform: translateY(-0.5px);
        clip-path: path('M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z');
      }
      .popper__arrow:after {
        background: #fff;
      }
    }
  }
}
