@import "mixins/mixins";
@import "progress";
@import "common/var";

@include b(upload) {
  display: inline-block;
  text-align: center;
  outline: none;
  @include e(input) {
    display: none;
  }

  @include e(header) {
    font-size: 12px;
    color: $--color-text-4;
    margin-bottom: 8px;
  }

  @include e(tip) {
    font-size: 12px;
    color: $--color-text-2;
    margin-top: 8px;
  }

  iframe {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  @include m(wrap) {
    position: relative;
  }

  @include m(drag) {
    display: block;
    &.el-upload--drag__small {
      width: 112px;
      background: $--color-fill-1;
      &:hover {
        background: #fff;
      }
      .el-upload-dragger {
        padding: 0;
        height: 68px;
        .el-upload-list__item-status-label {
          left: 12px;
          right: 12px;
        }
      }
      .el-upload-list__file {
        padding: 5px 12px;
      }
      .el-upload-list__item {
        .el-upload-list__icon {
          width: 24px;
          height: 24px;
        }
        .el-upload-list__name {
          margin-top: 4px;
        }
      }
      .el-upload-progress__text {
        margin-top: 8px;
      }
    }
    &.el-upload--drag__medium {
      width: 400px;
      .el-upload-dragger {
        padding: 0;
        height: 132px;
      }
    }
  }

  /* 照片墙模式 */
  @include m(picture-card) {
    border: 1px dashed $--color-line-2;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    &:hover {
      border-color: $--color-primary-5;
    }
    &:focus {
      border-color: $--color-primary-6;
    }
    // 图片上传(如头像上传)
    &.el-upload--picture-card__no-border {
      border: 0 none;
      overflow: hidden;
      .el-upload-list__item {
        margin: 0;
      }
    }
    &.el-upload--large {
      width: 106px;
      height: 106px;
    }
    &.el-upload--medium {
      width: 88px;
      height: 88px;
    }
    &.el-upload--small {
      width: 68px;
      height: 68px;
    }
    .el-upload__picture {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .el-upload__icon {
      font-size: 24px;
      color: $--color-fill-4;
      margin: 0 auto;
    }
    .el-upload__desc {
      margin: 4px auto 0;
      font-size: 12px;
      color: $--color-text-2;
    }
    .el-image__inner {
      cursor: default;
    }
  }
}

// 拖拽上传
@include b(upload-dragger) {
  padding: 0 30px;
  border: 1px dashed $--color-line-2;
  border-radius: 4px;
  box-sizing: border-box;
  height: 132px;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .el-link {
    font-size: 13px;
    [class*="iov-icon-"] + span {
      margin-left: 4px;
    }
  }
  .el-upload__icon {
    font-size: 30px;
    color: $--color-fill-4;
    margin: 0 auto;
  }
  .el-upload__btn {
    margin-top: 10px;
    align-self: center;
    ~ .el-upload__tip {
      margin-top: 8px;
    }
  }

  .el-upload__tip {
    margin: 4px auto 0;
    text-align: center;
    color: $--color-text-2;
  }

  .el-upload__remove {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;

    &:before {
      margin-right: -12px;
      color: #fff;
      font-size: 10px;
      position: relative;
      line-height: 1;
    }
    &:after {
      content: '';
      border-radius: 100%;
      width: 14px;
      height: 14px;
      background: $--color-fill-5;
    }

    &:hover {
      &:before {
        color: #fff;
      }
      &:after {
        background: $--color-fill-5;
      }
    }
  }

  // 重置file-list样式
  .el-upload-list__item {
    position: inherit;
    &:first-child {
      margin-top: 0;
    }
    .el-upload-list__file {
      margin-right: 0;
      background: none;
      .el-upload-list__item-name {
        margin-right: 0;
      }
    }
    .el-upload-list__icon {
      margin: 0 auto;
      display: block;
      width: 30px;
      height: 30px;
    }
    .el-upload-list__name {
      display: block;
      height: auto;
      line-height: 1;
      margin-top: 8px;
      width: 100%;
    }
    .el-upload__btn {
      margin-top: 10px;
    }
  }
  .el-upload-list__item-status-label {
    left: 24px;
    right: 24px;
  }
  .el-upload-progress__text {
    margin: 12px auto 0;
    color: $--color-text-6;
    font-size: 12px;
    display: block;
  }

  .el-upload__text {
    margin: 12px auto 0;
    color: $--color-text-6;
    font-size: 12px;
    text-align: center;
  }

  &:hover {
    border-color: $--color-primary-5;
  }

  &:fcous,
  &:active {
    border-color: $--color-primary-6;
  }

  @include when(dragover) {
    border-color: $--color-primary-5;
  }
}

// backgorund模式
@include b(upload-bg) {
  padding: 12px;
  background: rgba(246, 247, 248, 0.6);
  border-radius: 4px;
  .el-upload-list__file {
    background: #fff;
  }

  .el-upload-list {
    .iov-icon-delete {
      color: $--color-fill-6;
    }
  }
}

// 上传文件列表
@include b(upload-list) {
  margin: 0;
  padding: 0;
  list-style: none;

  .iov-icon-delete {
    display: none;
    position: absolute;
    top: 50%;
    right: 8px;
    cursor: pointer;
    transform: translateY(-50%);
    color: $--color-fill-5;
    &:hover {
      color: $--color-primary-6;
    }
  }

  @include e(item) {
    margin-top: 4px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    &:first-child {
      margin-top: 8px;
    }

    .el-upload-success {
      color: $--color-success-6;
    }

    &:hover {
      .iov-icon-delete {
        display: inline-block;
      }
    }

    @include when(success) {
      .el-upload-list__item-status-label {
        display: block;
      }

      .el-upload-list__item-name:hover {
        cursor: pointer;
      }
    }
  }

  @include when(disabled) {
    .el-upload-list__item:hover .el-upload-list__item-status-label {
      display: block;
    }
  }

  @include e(file) {
    margin-right: 30px;
    padding: 5px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background: $--color-fill-1;
    position: relative;
  }

  @include e(icon) {
    margin-right: 4px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    vertical-align: middle;
  }

  @include e(name) {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: $--color-text-6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);

    .file-name:hover {
      color: $--color-primary-6;
    }
  }

  @include e(item-name) {
    color: $--color-text-6;
    display: block;

    [class^="iov-icon"] {
      height: 100%;
      margin-right: 4px;
      line-height: inherit;
    }
  }

  @include e(item-status-label) {
    position: absolute;
    right: 8px;
    top: 55%;
    transform: translateY(-50%);
  }

  @include e(item-delete) {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    color: $--color-text-regular;
    display: none;

    &:hover {
      color: $--color-primary;
    }
  }

  @include m(text) {
    .el-upload-list__item-name{
      margin-right: 30px;
    }
    .el-upload-progress {
      position: relative;
      top: 2px;
      svg {
        path {
          &:nth-child(1) {
            stroke: $--color-primary-2;
          }
          &:nth-child(2) {
            stroke: $--color-primary-6;
          }
        }
      }
    }
  }

  // 图片墙列表
  @include m(picture-card) {
    display: inline;
    .el-upload-list__item {
      margin: 0 8px 0 0;
      overflow: hidden;
      background: #fff;
      border: 1px solid $--color-line-2;
      border-radius: 4px;
      box-sizing: border-box;
      display: inline-block;
      font-size: 0;
      vertical-align: middle;
      &:first-child {
        margin-top: 0;
      }
      &.el-upload-list__item-large {
        width: 106px;
        height: 106px;
        .el-image__placeholder,
        .el-image__error {
          background-size: 53px 53px;
        }
      }
      &.el-upload-list__item-medium {
        width: 88px;
        height: 88px;
        .el-image__placeholder,
        .el-image__error {
          background-size: 44px 44px;
        }
      }
      &.el-upload-list__item-small {
        width: 68px;
        height: 68px;
        .el-image__placeholder,
        .el-image__error {
          background-size: 34px 34px;
        }
      }
    }
    .el-upload-list__file {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: 100%;
      background: #fff;
    }
    .el-upload-list__item-name {
      height: 100%;
    }
    .el-upload-list__item-thumbnail {
      width: 100%;
      height: 100%;
      display: block;
      .el-image {
        width: 100%;
        height: 100%;
      }
    }
    .el-upload-list__item-status-label {
      left: 10px;
      right: 10px;
    }
    .el-upload-progress__text {
      margin: 8px auto 0;
      color: $--color-text-6;
      font-size: 12px;
      display: block;
      text-align: center;
    }
    .el-upload-list__item-actions {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: default;
      text-align: center;
      color: #fff;
      opacity: 0;
      background: rgba(0, 0, 0, .5);
      transition: opacity .3s;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      i {
        display: none;
        cursor: pointer;
        font-size: 18px;
        color: #fff;
        flex: none;
      }
      .iov-icon-delete {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
      }
      &:hover {
        opacity: 1;
        i {
          display: inline-block;
          color: #fff;
        }
      }
    }
  }

  // 拖拽排序样式
  @include when(sortable) {
    .el-upload-list__item {
      cursor: move;
      @include when(dragging) {
        opacity: 0;
      }
    }
  }
  .upload-sort-move,
  .upload-sort-enter-active,
  .upload-sort-leave-active {
    transition: all .2s ease;
  }
  .upload-sort-enter-from,
  .upload-sort-leave-to {
    opacity: 0;
  }
  .upload-sort-leave-active {
    position: absolute;
  }

  .el-image__placeholder {
    display: inline-block;
    background: $--color-fill-1 url(//obs-helf.cucloud.cn/prod-common-public/iov-design/img_placeholder.png) no-repeat center center / 20px 20px;
  }
  .el-image__error {
    display: inline-block;
    background: $--color-fill-3 url(//obs-helf.cucloud.cn/prod-common-public/iov-design/img_fail.png) no-repeat center center / 20px 20px;
  }

  // 图片列表缩略图
  @include m(picture) {
    .el-upload-list__file {
      padding: 6px 8px;
    }
    .el-upload-list__item-thumbnail {
      margin-right: 8px;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      background: $--color-fill-3;
      border: 1px solid $--color-line-2;
      border-radius: 4px;
      font-size: 0;
      .el-image {
        width: 40px;
        height: 40px;
      }
    }
    .el-upload-list__name {
      width: calc(100% - 80px);
    }
    .el-upload-progress {
      position: relative;
      top: 2px;
      svg {
        path {
          &:nth-child(1) {
            stroke: $--color-primary-2;
          }
          &:nth-child(2) {
            stroke: $--color-primary-6;
          }
        }
      }
    }
  }
}
