@import "../common/var";
@mixin button-plain($color, $background-color, $border-color, $color-hover, $background-color-hover, $border-color-hover, $color-active, $background-color-active, $border-color-active, $color-disabled, $background-color-disabled, $border-color-disabled) {
  background: $background-color;
  border-color: $border-color;
  color: $color;

  &:hover {
    background: $background-color-hover;
    border-color: $border-color-hover;
    color: $color-hover;
  }

  &:active,
  &.is-active {
    background: $background-color-active;
    border-color: $border-color-active;
    color: $color-active;
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: $background-color-disabled;
      border-color: $border-color-disabled;
      color: $color-disabled;
    }
  }
}

@mixin button-variant($color, $background-color, $background-color-hover, $background-color-active, $background-color-disabled) {
  background-color: $background-color;
  border-color: $background-color;
  color: $color;

  &:hover {
    background: $background-color-hover;
    border-color: $background-color-hover;
    color: $color;
  }

  &:active,
  &.is-active {
    background: $background-color-active;
    border-color: $background-color-active;
    color: $color;
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: $background-color-disabled;
      border-color: $background-color-disabled;
      color: $color;
    }
  }
}

@mixin button-size($height, $padding-horizontal, $font-size, $border-radius) {
  padding: 0 $padding-horizontal;
  height: $height;
  line-height: $height;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-round {
    padding: 0 $padding-horizontal;
  }
}

@mixin button-dashed($color, $background-color, $color-hover, $background-color-hover, $color-active, $background-color-active, $color-disabled, $background-color-disabled) {
  background: $background-color;
  border-color: $color;
  color: $color;

  &:hover {
    background: $background-color-hover;
    border-color: $color-hover;
    color: $color-hover;
  }

  &:active,
  &.is-active {
    background: $background-color-active;
    border-color: $color-active;
    color: $color-active;
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: $background-color-disabled;
      border-color: $color-disabled;
      color: $color-disabled;
    }
  }
}


@mixin button-ghost($color, $color-hover, $color-active, $color-disabled) {
  background: none;
  border-color: $color;
  color: $color;

  &:hover {
    background: none;
    border-color: $color-hover;
    color: $color-hover;
  }

  &:active,
  &.is-active {
    background: none;
    border-color: $color-active;
    color: $color-active;
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      background: none;
      border-color: $color-disabled;
      color: $color-disabled;
    }
  }
}
