@import "../common/var";
@import "../mixins/mixins";
@import "./picker-panel.scss";

@include b(date-picker) {
  &.has-time {
    .el-picker-panel__body-wrapper {
      position: relative;
      display: flex;
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  @include e(editor-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;
  }

  @include e(time-content) {
    border-left: 1px solid $--color-line-1;
    // .el-time-spinner {
    //   margin-top: 40px;
    //   border-top: 1px solid $--color-line-1;
    // }
    .el-time-spinner__wrapper {
      height: 260px;
    }
    .el-time-spinner__list:after {
      height: 236px;
    }
  }

  @include e(header) {
    padding: 8px 12px;
    text-align: center;
    border-bottom: 1px solid $--color-line-1;
    font-size: 0;
  }

  @include e(header-label) {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    color: $--color-text-6;
    display: inline-block;
  }

  @include e(prev-btn) {
    float: left;
    margin-right: 4px;
  }

  @include e(next-btn) {
    float: right;
    margin-left: 4px;
  }

  @include e(time-wrap) {
    padding: 10px;
    text-align: center;
  }

  @include e(time-label) {
    float: left;
    cursor: pointer;
    line-height: 30px;
    margin-left: 10px;
  }
}
