@import "../common/var";

@include b(date-range-picker) {
  width: 536px;

  &.has-sidebar {
    width: 634px;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  .el-picker-panel__body {
    min-width: 536px;
  }

  @include e(header) {
    position: relative;
    display: flex;
    .el-date-picker__header {
      flex: 1;
    }
    [class*=double-left-mini] {
      float: left;
    }
    [class*=double-right-mini] {
      float: right;
    }
  }

  @include e(content) {
    display: flex;
    .el-picker-panel__content {
      flex: 1;
    }
  }

  @include e(editors-wrap) {
    box-sizing: border-box;
    display: table-cell;

    @include when(right) {
      text-align: right;
    }
  }

  @include e(time-header) {
    position: relative;
    border-bottom: 1px solid $--datepicker-inner-border-color;
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;

    > .el-icon-arrow-right {
      font-size: 20px;
      vertical-align: middle;
      display: table-cell;
      color: $--datepicker-icon-color;
    }
  }

  @include e(time-picker-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;

    .el-picker-panel {
      position: absolute;
      top: 13px;
      right: 0;
      z-index: 1;
      background: $--color-white;
    }
  }
}
