@import "../common/var";

@include b(date-range-picker) {
  width: 536px;

  &.has-sidebar {
    width: 634px;
    .el-picker-panel__sidebar {
      bottom: 42px;
    }
  }
  &.has-time {
    .el-time-spinner__wrapper {
      height: 256px;
    } 
    .el-time-spinner__list:after {
      height: 232px;
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  .el-picker-panel__body {
    min-width: 536px;
  }

  @include e(header) {
    position: relative;
    display: flex;
    .el-date-picker__header {
      flex: 1;
    }
    [class*=double-left-mini] {
      float: left;
    }
    [class*=double-right-mini] {
      float: right;
    }
  }

  @include e(content) {
    display: flex;
    .el-picker-panel__content {
      flex: 1;
    }
  }

  // @include e(editors-wrap) {
  //   box-sizing: border-box;
  //   display: table-cell;

  //   @include when(right) {
  //     text-align: right;
  //   }
  // }

  // @include e(time-header) {
  //   position: relative;
  //   border-bottom: 1px solid $--datepicker-inner-border-color;
  //   font-size: 12px;
  //   padding: 8px 5px 5px 5px;
  //   display: table;
  //   width: 100%;
  //   box-sizing: border-box;

  //   > .el-icon-arrow-right {
  //     font-size: 20px;
  //     vertical-align: middle;
  //     display: table-cell;
  //     color: $--datepicker-icon-color;
  //   }
  // }

  // @include e(time-picker-wrap) {
  //   position: relative;
  //   display: table-cell;
  //   padding: 0 5px;

  //   .el-picker-panel {
  //     position: absolute;
  //     top: 13px;
  //     right: 0;
  //     z-index: 1;
  //     background: $--color-white;
  //   }
  // }

  @include e(now) {
    text-align: center;
    border-top: 1px solid $--color-line-1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    flex: 1;
    .iov-icon-date,
    .iov-icon-time {
      font-size: 13px;
      margin-right: 4px;
    }
    &:last-child {
      border-left: 1px solid $--color-line-1;
    }
  }

  @include e(date) {
    padding: 16px 0;
    font-size: 13px;
    color: $--color-text-2;
    flex: 1;
    cursor: pointer;
    &.is-active {
      color: $--color-text-6; 
    }
  }

  @include e(time) {
    padding: 16px 0;
    font-size: 13px;
    color: $--color-text-2;
    flex: 1;
    border-left: 1px solid $--color-line-1;
    cursor: pointer;
    &.is-active {
      color: $--color-text-6; 
    }
  }
}
