@import "../common/var";
@import "../mixins/mixins";
@import "./picker-panel.scss";

@include b(date-picker) {
  width: 268px;

  &.has-sidebar.has-time {
    width: 434px;
  }

  &.has-sidebar {
    width: 366px;
  }

  &.has-time .el-picker-panel__body-wrapper {
    position: relative;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  @include e(editor-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;
  }

  @include e(time-header) {
    position: relative;
    border-bottom: 1px solid $--datepicker-inner-border-color;
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
  }

  @include e(header) {
    padding: 8px 12px;
    text-align: center;
    border-bottom: 1px solid $--color-line-1;
    font-size: 0;
  }

  @include e(header-label) {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    color: $--color-text-6;
    display: inline-block;
  }

  @include e(prev-btn) {
    float: left;
    margin-right: 4px;
  }

  @include e(next-btn) {
    float: right;
    margin-left: 4px;
  }

  @include e(time-wrap) {
    padding: 10px;
    text-align: center;
  }

  @include e(time-label) {
    float: left;
    cursor: pointer;
    line-height: 30px;
    margin-left: 10px;
  }
}
