@import "../common/var";
@import "../mixins/mixins";

@include b(date-table) {
  font-size: 13px;
  user-select: none;

  @include when(week-mode) {
    .el-date-table__row {
      td.in-range {
        div {
          background: none;
        }
        span {
          background: $--color-primary-6;
          color: #fff;
        }
        &.today {
          span:after {
            display: none;
          }
        }
      }
      span {
        width: 34px;
        border-radius: 0;
      }
      td:nth-child(2) div {
        span {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          transform: translateX(calc(-50% + 4px));
        }
      }
      td:last-child div {
        span {
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
          transform: translateX(calc(-50% - 4px));
        }
      }
      &:hover {
        span {
          background-color: $--color-fill-2;
        }
        td.available:hover {
          color: $--color-text-6;
        }
        td:first-child div span {
          background: none;
        }
      }
    }
  }

  td {
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-weight: 500;

    & div {
      height: 32px;
      margin: 2px 0;
      padding: 4px 0;
      box-sizing: border-box;
    }

    & span {
      width: 24px;
      height: 24px;
      display: block;
      margin: 0 auto;
      line-height: 24px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      transition: background ease .2s;
      &:hover {
        background: $--color-fill-2;
      }
    }

    &.next-month,
    &.prev-month {
      color: $--color-text-2;
    }

    &.today {
      position: relative;
      &.selected {
        span:after {
          display: none;
        }
      }
      span {
        &:after {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background: $--color-primary-6;
          position: absolute;
          bottom: -4px;
          left: 50%;
          margin-left: -2px;
        }
      }
      &.start-date span,
      &.end-date span {
        color: $--color-white;
      }
    }

    &.in-range div {
      background-color: $--color-primary-2;
      span:hover {
        background: none;
      }
      &:hover {
        background-color: $--color-primary-2;
      }
    }

    &.in-range.start-date div,
    &.in-range.end-date div  {
      span:hover {
        background-color: $--color-primary-6;
      }
    }

    &.current:not(.disabled) span {
      color: #fff;
      background-color: $--color-primary-6;
      &:after {
        display: none;
      }
    }

    &.start-date.today span,
    &.end-date.today span {
      &:after {
        display: none;
      }
    }
    &.start-date div,
    &.end-date div {
      color: $--color-white;
    }

    &.start-date span,
    &.end-date span {
      background-color: $--color-primary-6;
    }

    &.start-date div {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }

    &.end-date div {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }

    &.disabled div {
      background-color: $--color-fill-1;
      opacity: 1;
      cursor: not-allowed;
      color: $--color-text-2;
      span:hover {
        background: none;
      }
    }

    &.selected div {
      margin-left: 4px;
      margin-right: 4px;
    }

    &.selected span {
      background-color: $--color-primary-6;
      color: #fff;
      border-radius: 12px;
    }

    &.week {
      color: $--color-text-2;
    }
  }

  th {
    width: 32px;
    height: 32px;
    color: $--color-text-3;
    font-weight: 400;
  }
}
