@import "../common/var";

@include b(month-table) {
  font-size: 13px;
  border-collapse: collapse;

  tr td:nth-child(2) {
    width: 100px;
    &.start-date {
      .month-grid {
        margin-left: 16px;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
      }
      .month-cell {
        margin-left: 4px;
      }
    }

    &.end-date {
      .month-grid {
        margin-right: 16px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
      }
      .month-cell {
        margin-right: 4px;
      }
    }
  }

  td {
    width: 68px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    .month-grid {
      height: 32px;
      margin: 4px 0;
      padding: 4px 0;
      box-sizing: border-box;
    }
    .month-cell {
      margin: 0 auto;
      width: 60px;
    }
    &.today {
      .cell {
        position: relative;
        &:after {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background: $--color-primary-6;
          position: absolute;
          bottom: -4px;
          left: 50%;
          margin-left: -2px;
        }
      }
      &.start-date .cell,
      &.end-date .cell {
        color: #fff;
      }
    }

    &.disabled div {
      background-color: $--color-fill-1;
      cursor: not-allowed;
      .cell {
        color: $--color-text-2;
        &:hover {
          background: none;
        }
      }
    }

    .cell {
      width: 60px;
      height: 24px;
      display: block;
      line-height: 24px;
      color: $--color-text-6;
      margin: 0 auto;
      border-radius: 12px;
      transition: background .2s ease;
      &:hover {
        background: $--color-fill-2;
      }
    }

    &.in-range {
      .month-grid {
        background-color: $--color-primary-2;
      }
    }
    &.in-range:not(.start-date):not(.end-date) {
      .cell:hover {
        background: none;
      }
    }
    &.start-date .cell,
    &.end-date .cell {
      color: #fff;
      background-color: $--color-primary-6;
      &:after {
        display: none;
      }
    }

    &.start-date {
      .month-grid {
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
      }
    }

    &.end-date {
      .month-grid {
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
      }
    }

    &.current:not(.disabled) .cell {
      background: $--color-primary-6;
      color: #fff;
      &:after {
        display: none;
      }
    }
  }
}
