@import "../mixins/mixins";
@import "../common/var";
@import "../common/transition";

@include b(date-editor) {
  position: relative;
  display: inline-block;
  text-align: left;

  & .el-input__clear {
    cursor: pointer;
    display: flex;
    align-items: center;

    &:before {
      margin-right: -12px;
      color: $--input-icon-color;
      font-size: 10px;
      position: relative;
      line-height: 1;
    }
    &:after {
      border-radius: 100%;
      width: 14px;
      height: 14px;
      background: $--color-fill-3;
    }

    &:hover {
      &:before {
        color: $--color-white;
      }
      &:after {
        background: $--color-fill-5;
      }
    }
  }

  @include m(dates) {
    .el-input__inner {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .el-icon-circle-close {
    cursor: pointer;
  }

  &.el-input--prefix {
    .el-input__inner {
      padding-left: 12px;
    }
  }

  .el-input__prefix {
    transform: none !important;
    left: auto;
    right: 1px;
  }

  .el-input__icon {
    padding: 0 12px 0 0;
    font-size: 14px;
    color: $--input-icon-color;
    line-height: 36px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .el-range-input {
    appearance: none;
    border: none;
    outline: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: $--input-font-size;
    color: $--input-font-color;

    &::placeholder {
      color: $--input-placeholder-color;
    }
  }

  .el-range-separator {
    margin: 0;
    padding: 0 12px;
    display: flex;
    height: 100%;
    text-align: center;
    font-size: $--input-font-size;
    align-items: center;
    color: $--input-font-color;
  }
}

@include b(range-editor) {
  position: relative;
  .el-input-group__prefix-label {
    padding: 0 12px 0 0;
    font-size: $--input-font-size;
  }

  &.el-input__inner {
    display: inline-flex;
    align-items: center;
    padding: 3px 12px;
  }

  .el-range-input {
    line-height: 1;
  }

  @include when(active) {
    border-color: $--input-border-color-hover;
    box-shadow: $--input-box-shadow;

    &:hover {
      border-color: $--input-border-color-hover;
    }
  }

  @include m(medium) {
    .el-input-group__prefix-label {
      // padding: 0;
      font-size: $--input-medium-font-size;
    }
    .el-input__icon {
      height: $--input-medium-height;
      line-height: $--input-medium-height;
    }
    &.el-input__inner {
      height: $--input-medium-height;
    }
    .el-range-separator,
    .el-range-input {
      font-size: $--input-medium-font-size;
    }
  }

  @include m(small) {
    .el-input-group__prefix-label {
      // padding: 0;
      font-size: $--input-small-font-size;
    }
    .el-input__icon {
      height: $--input-small-height;
      line-height: $--input-small-height;
    }
    &.el-input__inner {
      height: $--input-small-height;
    }
    .el-range-separator,
    .el-range-input {
      font-size: $--input-small-font-size;
    }
  }

  @include m(mini) {
    .el-input-group__prefix-label {
      // padding: 0;
      font-size: $--input-mini-font-size;
    }
    .el-input__icon {
      height: $--input-mini-height;
      line-height: $--input-mini-height;
    }
    &.el-input__inner {
      height: $--input-mini-height;
    }
    .el-range-separator,
    .el-range-input {
      font-size: $--input-mini-font-size;
    }
  }

  @include when(disabled) {
    background-color: $--input-disabled-fill;
    border-color: $--input-disabled-border;
    color: $--input-disabled-color;
    cursor: not-allowed;

    &:hover, &:focus {
      border-color: $--input-disabled-border;
    }

    input {
      background-color: $--input-disabled-fill;
      color: $--input-disabled-color;
      cursor: not-allowed;
      &::placeholder {
        color: $--input-disabled-placeholder-color;
      }
    }

    .el-range-separator {
      color: $--input-disabled-color;
    }
  }
}
