@import "../common/var";

@include b(time-panel) {
  margin: 5px 0;
  border: solid 1px $--color-line-1;
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(73,75,83,0.12);;
  border-radius: 4px;
  position: absolute;
  left: 0;
  z-index: $--index-top;
  user-select: none;
  box-sizing: content-box;

  .popper__arrow {
    display: none;
  }

  @include e(content) {
    font-size: 0;
    position: relative;
    overflow: hidden;
  }

  @include e(footer) {
    border-top: 1px solid $--color-line-1;
    padding: 8px 12px;
    font-size: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
