@import "../common/var";

@include b(time-range-picker) {
  width: 536px;
  overflow: visible;

  @include e(content) {
    position: relative;
    text-align: center;
    font-size: 0;
  }

  @include e(cell) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 50%;
    display: inline-block;
    &:first-child {
      border-right: 1px solid $--color-line-1;
    }
  }

  @include e(body) {
    .el-time-spinner__wrapper {
      width: 80px;
    }
    .el-time-spinner__column {
      margin-left: 0;
      padding: 10px 0 6px 0;
      width: 80px;
      &:before {
        display: none;
      }
    }
    &.is-arrow {
      .el-time-spinner__column {
        padding-top: 6px;
      }
    }
  }
}
