// --color-primary
$--color-primary-1: #F0F4FD !default;
$--color-primary-2: #E3EBFF !default;
$--color-primary-3: #9EB3FF !default;
$--color-primary-4: #7992FF !default;
$--color-primary-5: #546EFF !default;
$--color-primary-6: #2F48FF !default;
$--color-primary-7: #1D2CD2 !default;
$--color-primary-8: #0F17A6 !default;
$--color-primary-9: #060879 !default;
$--color-primary-10: #01004D !default;

// --color-success
$--color-success-1: #EFF9F3 !default;
$--color-success-2: #B8F0C7 !default;
$--color-success-3: #8CE0A5 !default;
$--color-success-4: #65D189 !default;
$--color-success-5: #42C170 !default;
$--color-success-6: #23B25D !default;
$--color-success-7: #17994F !default;
$--color-success-8: #0D7F42 !default;
$--color-success-9: #056635 !default;
$--color-success-10: #004D29 !default;

// --color-warning
$--color-warning-1: #FFF7E8 !default;
$--color-warning-2: #FFE4BA !default;
$--color-warning-3: #FFCF8B !default;
$--color-warning-4: #FFB65D !default;
$--color-warning-5: #FF9A2E !default;
$--color-warning-6: #FF7D00 !default;
$--color-warning-7: #D25F00 !default;
$--color-warning-8: #A64500 !default;
$--color-warning-9: #792E00 !default;
$--color-warning-10: #4D1B00 !default;

// --color-danger
$--color-danger-1: #FFF1F1 !default;
$--color-danger-2: #FDCDC5 !default;
$--color-danger-3: #FBACA3 !default;
$--color-danger-4: #F98981 !default;
$--color-danger-5: #F76560 !default;
$--color-danger-6: #F53F3F !default;
$--color-danger-7: #CB272D !default;
$--color-danger-8: #A1151E !default;
$--color-danger-9: #770813 !default;
$--color-danger-10: #4D000A !default;

// --color-gold
$--color-gold-1: #FFFCE8 !default;
$--color-gold-2: #FDF4BF !default;
$--color-gold-3: #FCE996 !default;
$--color-gold-4: #FADC6D !default;
$--color-gold-5: #F9CC45 !default;
$--color-gold-6: #F7BA1E !default;
$--color-gold-7: #CC9213 !default;
$--color-gold-8: #A26D0A !default;
$--color-gold-9: #774B04 !default;
$--color-gold-10: #4D2D00 !default;

// --color-blue
$--color-blue-1: #E8F7FF !default;
$--color-blue-2: #BEE7FF !default;
$--color-blue-3: #94D4FF !default;
$--color-blue-4: #6ABEFF !default;
$--color-blue-5: #40A6FF !default;
$--color-blue-6: #168CFF !default;
$--color-blue-7: #0E69D2 !default;
$--color-blue-8: #074CA6 !default;
$--color-blue-9: #033279 !default;
$--color-blue-10: #001C4D !default;

// --color-purple
$--color-purple-1: #F5E8FF !default;
$--color-purple-2: #DDBEF6 !default;
$--color-purple-3: #C396ED !default;
$--color-purple-4: #A871E3 !default;
$--color-purple-5: #8D4EDA !default;
$--color-purple-6: #722ED1 !default;
$--color-purple-7: #551DB0 !default;
$--color-purple-8: #3C108F !default;
$--color-purple-9: #27066E !default;
$--color-purple-10: #16004D !default;

// --color-pink
$--color-pink-1: #FFE8FB !default;
$--color-pink-2: #F7BAEF !default;
$--color-pink-3: #F08EE6 !default;
$--color-pink-4: #E865DF !default;
$--color-pink-5: #E13EDB !default;
$--color-pink-6: #D91AD9 !default;
$--color-pink-7: #B010B6 !default;
$--color-pink-8: #8A0993 !default;
$--color-pink-9: #650370 !default;
$--color-pink-10: #42004D !default;

// --color-gray
$--color-gray-1: #E8F4FF !default;
$--color-gray-2: #CED9E4 !default;
$--color-gray-3: #B5BECA !default;
$--color-gray-4: #9CA4AF !default;
$--color-gray-5: #838A95 !default;
$--color-gray-6: #6B707A !default;
$--color-gray-7: #49546F !default;
$--color-gray-8: #2C3A63 !default;
$--color-gray-9: #132358 !default;
$--color-gray-10: #000F4D !default;

// --color-line
$--color-line-1: #EDEFF3 !default;
$--color-line-2: #DCDFE6 !default;
$--color-line-3: #D2D5DF !default;
$--color-line-4: #C3C7D1 !default;
$--color-line-5: #E9EBF0 !default;

// --color-fill
$--color-fill-1: #F6F7F8 !default;
$--color-fill-2: #F2F3F5 !default;
$--color-fill-3: #E5E6EB !default;
$--color-fill-4: #ABAFB5 !default;
$--color-fill-5: #777D87 !default;
$--color-fill-6: #494B53 !default;
$--color-fill-7: #212026 !default;
$--color-fill-8: #0D1722 !default;

// --color-text
$--color-text-1: #C6C7CA !default;
$--color-text-2: #A2A3AA !default;
$--color-text-3: #6B707A !default;
$--color-text-4: #65677A !default;
$--color-text-5: #3D4158 !default;
$--color-text-6: #212026 !default;
$--color-text-7: #0D1722 !default;

